name: webview_all_cef
description: Flutter Linux Webview backed by CEF (Chromium Embedded Framework).
version: 0.5.1
homepage: https://github.com/moluopro/webview_all
repository: https://github.com/moluopro/webview_all

environment:
  sdk: ">=2.17.1 <4.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      linux:
        pluginClass: WebviewCefPlugin
